@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(38, 8, 25, 1) 30%,
    rgba(37, 14, 6, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
}

/* VESSEL FOR LAYOUT */
.vessel {
  --min-horizontal-margin: 1rem;
  --max-width: 768px;
  --min-m: var(--min-horizontal-margin);
  --auto-m: calc((100vw - var(--max-width)) / 2);
  max-width: var(--max-width);
  margin: 0 max(var(--min-m), var(--auto-m));
  padding: 1rem 0;
}

/* ANIMATE OPACITY ON INTERSECTION */
.apoi-hidden {
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.apoi-show {
  opacity: 1;
}

@layer components {
  /* FOR BUTTONS */
  .button {
    @apply flex justify-center items-center gap-2 py-2 px-4
    border border-white/10 rounded text-base font-mono
    bg-white/10
    transition-all duration-200 cursor-pointer
    hover:bg-white/20 
    disabled:hover:bg-white/10 disabled:cursor-default;
  }

  /* FOR FORMS */
  .input-field {
    @apply flex flex-col w-full;
  }

  .input-field .label {
    @apply mb-2;
  }

  .input {
    @apply w-full p-2
    outline-none
    border border-white/10 rounded-md
    bg-white/10
    focus:ring-1 focus:ring-white;
  }
}
